@{
    ViewData["Title"] = "CAS Cursus Administratie Systeem";
}

<div class="container">
    <div class="jumbotron">
        <h1>Cursus Administratie Systeem</h1>


    </div>

    <p>Het cursus administratie systeem is een op maat gemaakte software om cursussen te importeren en te weergeven</p>

</div>