
<h1>Cursusplanning importeren</h1>
<form method="post" asp-action="Import" asp-controller="Cursus" enctype="multipart/form-data">
    <div>
        <label for="files" class="btn">Selecteer bestand</label>
        <input id="files" style="visibility:hidden;" accept=".txt" name="data" type="file">
    </div>
    <button type="submit">Importeren</button>
</form>